html, body {
  margin: 0;
  padding: 0;
  

}
button{
  border: none;
  background-color: lightgreen;
  border-radius: .5rem;
  
}
h2{
 padding: 20 px; 
}

#buy-btn :hover{
  background-color: red;
  border: solid 1px black;
  cursor: crosshair;
}

#error-p{
  display: none;
}